# prod
dist/

# dev
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/
.wrangler

# pnpm
pnpm-lock.yaml
.pnpm-store/

# env
.env
.env.production
.dev.vars

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
